* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #000;
}

header {
  text-align: center;
  color: #fff;
  margin: 50px auto;
  font-size: 20px;
}

.container {
  width: 600px;
  height: 350px;
  background-color: #333;
  margin: 70px auto;
  padding: 20px;
  text-align: center;
}

.display-quotes {
  color: #fff;
  padding: 10px;
  width: 500px;
  height: 150px;
  margin: 0 auto;
}

.quotes {
  font-size: 24px;
  font-style: italic;
  width: 450px;
  height: 100px;
  margin: 10px auto;
  padding: 10px;
}

.author {
  font-size: 28px;
  margin: 5px 0;
  padding: 7px;
}

.button {
  margin-top: 140px;
}

#btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: orange;
  color: #000;
  border: 2px solid #fff;
  border-radius: 25px;
}

#btn:hover {
  color: #333;
}

#btn:active {
  font-weight: bolder;
}

@media (max-width: 420px) {
}
